body {
	background-image: url('http://amsarkadium-a.akamaihd.net/assets/global/game/html5-sudoku/ff8a5f03-a39a-479e-99d0-4a032cba90c2/426x283.jpg');
	background-size: cover;
}

.controls {
	background: #ffcc66;
	margin: 0 auto;
	width: 500px;
	padding: 15px 0;
}

h1 {
	text-align: center;
	color: #805500;
	font-family: 'Pacifico', cursive;
	font-size: 56px;
	letter-spacing: 10px;
	line-height: 36px;
}

button {
	margin: 5px 15px;
	cursor: pointer;
	font-size: 20px;
	background: linear-gradient(#ffe6b3, #F4A460);
	color: #b37700;
}

button:hover {
	background: linear-gradient(#F4A460, #ffe6b3);
}


.diff {
	font-size: 18px;
	background: #ffe6b3;
}

.nav {
	margin: 0 auto;
	text-align: center;
	width: 500px;
	padding: 15px 0;
	background: #ffcc66;
}

.nav span {
	font-size: 20px;
	color: #805500;
}

.save {
	width: 200px;
	margin: 10px auto 0;
}

.save button { 
	padding: 2px 7px;
}

.modal {
	height: 180px;
	background: linear-gradient(#F4A460, #ffe6b3);
	width: 80%;
	margin: 100px 10%;
	padding: 30px;
	color: #805500;
}

.modalinput {
	width: 100%;
	font-size: 10px;
	text-align: left;
	display: block;
	background: #ffe6b3;
	margin: 20px 0;
	height: 20px;
}

.modalclose {
	margin-left: 90%;
}

@media(max-width: 600px) {
	.nav {
		width: 330px;
	}
	.controls {
		width: 310px;
	}
	.controls button:nth-child(4) {
		margin-left: 70px;
	}
}