* {
	box-sizing: border-box;
}

.board {
	width: 27vw;
	height: 27vw;
	min-height: 270px;
	min-width: 270px;
	margin: 20px auto;
	padding: 0;
}

.tile{
	width: 3vw;
	height: 3vw;
	min-height: 30px;
	min-width: 30px;
	float: left;
	text-align: center;
	line-height: 3vw;
	padding: 0;
}

input {
	width: 3vw;
	height: 3vw;
	min-height: 30px;
	min-width: 30px;
	text-align: center;
	line-height: 3vw;
	background-color: #acd;
	/*border: 1px solid red;*/
	color: #4B0082;
	font-size: 26px;
}

.sand {
	background-color: #F4A460;
}

.borderRight {
	border-right: 2px solid black;
}

.borderBottom {
	border-bottom: 2px solid black;
}

.borderTop {
	border-top: 2px solid black;
}

.borderLeft {
	border-left: 2px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}